[submodule "package-a-python-application-in-rpm/stacks-for-windows-linux"]
	path = package-a-python-application-in-rpm/stacks-for-windows-linux
	url = https://github.com/synnek1337/stacks-for-windows-linux
[submodule "craft-your-custom-port-scanner-in-python"]
	path = craft-your-custom-port-scanner-in-python
	url = https://github.com/synnek1337/pyscan
