[submodule "package-a-python-application-in-rpm/stacks-for-windows-linux"]
	path = package-a-python-application-in-rpm/stacks-for-windows-linux
	url = https://github.com/synnek1337/stacks-for-windows-linux
[submodule "finde-best-mirror-fedora"]
	path = finde-best-mirror-fedora
	url = https://gitlab.com/SynneK13371/finde-best-mirror-fedora.git
